
.sivunnimi {
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 250%;
    color: white;
    margin-left: 50%;
}

.search {
    text-align: center;
    color: black;

}

#search {
    color: black;
}

body {
    background-image: url("pics/Mainpage.jpg");
}

#logincontainer {
    background-color: #f1f1f1;
}

#chosen {
    color: #ffffff;
    font-size: 120%;
}

.users {
    font-family: Verdana, sans-serif, Arial;
    font-size: 2em;
}

.center {
    text-align: center;
}

.centerdiv {
    margin-left: 38%;

}

.whitelink {
    color: #ffffff;
    text-decoration: underline;
}

.blacklink {
    color: #2a2a2a;
}

.footer {
    background-color: black;
    color: white;
}

.wellhigh {
    min-height: 425px;
    height: 50%;
    border: 3px solid darkslategray;
    background-color: rgba(255, 255, 255, 0.3);
}

.meals {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2%;
    border: 3px darkslategray;
    border-radius: 25px;
}

#foodtypes {
    opacity: 1;
}

/* Reseptit.php */

.reseptihead {
    font-size: 4em;
}

.reseptipar {
    font-style: italic;
    font-size: 2em;
}

/* Reseptiohje.html */

#reseptikorkeus {
    min-height: 150%;
}

#samankaltaiset {
    padding: 2em;

}

.resepti {
    padding: 3%;
}

/* Kayttaja.php */
.kayttajaots {
    padding: 3%;
    font-size: 200%;
}

#ktunnuskoko {
    font-size: 3em;
    margin-bottom: 1.5em;
}

.omatreseptitkoko {
    background-color: #8d6868;
    color: rgb(255, 255, 255);

}

.kayttajaborders {
    border: 0;
}

.lisaaresepti {
    background-color: #8d6868;
    color: rgb(255, 255, 255);
    font-size: 150%;
}

#omatreseptit {
    font-size: 150%;
    padding: 6%;
}

.reseptinlisaysfontti {
    color: black;
}

.reseptinalafontti {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.lisaysleveys {
    width: content-box;
}

.clear {
    clear: both;
    color: black;
}

.checkbox {
    float: top;
    color: black;
    margin: 3em;
    margin-bottom: 0;
}

.reseptinlinkki {
    color: black;
    background-color: white;
    padding: 0.5em;
    padding-left: 7em;
    padding-right: 7em;
    border-radius: 2em;
}

/* Tietoa_meista.html */

#tietoafooter {
    margin-top: 20em;
}

/* LOGIN-MUOTOILU*/

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password], .clear {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #29ae26;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 15%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* logineionnistunut.php */
#largelink {
    font-size: 2em;
    text-decoration: underline;
    color: black;
}

#buttonmargin {
    border-left: 1em solid #222222;
    border-right: 1em solid #222222;
}